/*
	File Overview:	Global SCSS
	Author:			Michael Bester
	Description:	Includes all styles for primary styles for the site.
*/
/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/
/* line 6, ../scss/partials/_structure.scss */
html {
  min-height: 100%;
  margin-bottom: 1px;
  overflow: hidden;
}

/* line 12, ../scss/partials/_structure.scss */
body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*
* Window sizes
*/
/*
* Default config
*/
/* line 26, ../scss/partials/_structure.scss */
#main {
  width: 100%;
  height: 100%;
  min-width: 1024px;
}
/* line 31, ../scss/partials/_structure.scss */
#main #viz {
  height: 100%;
  min-height: 690px;
  min-width: 1024px;
}

/*
* Ipad Portait + Landscape
*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 43, ../scss/partials/_structure.scss */
  #main {
    width: 980px;
  }
  /* line 46, ../scss/partials/_structure.scss */
  #main #viz {
    min-height: 660px;
    min-width: 1024px;
  }
}
/* line 7, ../scss/partials/_multiuser.scss */
html, body {
  color: #616363;
}

/* line 12, ../scss/partials/_multiuser.scss */
#user-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
/* line 20, ../scss/partials/_multiuser.scss */
#user-info .user {
  padding-top: 6px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
}
/* line 27, ../scss/partials/_multiuser.scss */
#user-info .user div {
  position: relative;
}
/* line 32, ../scss/partials/_multiuser.scss */
#user-info .user .name {
  position: relative;
  font-size: 2em;
  margin-top: -10px;
}
/* line 39, ../scss/partials/_multiuser.scss */
#user-info .user .intro {
  line-height: .5em;
}
/* line 43, ../scss/partials/_multiuser.scss */
#user-info .user img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 0px;
}

/* line 52, ../scss/partials/_multiuser.scss */
#user-timeline {
  display: none;
  max-width: 1024px;
  position: absolute;
  top: 0;
}
/* line 57, ../scss/partials/_multiuser.scss */
#user-timeline img {
  width: 100%;
}

/* line 63, ../scss/partials/_multiuser.scss */
#user-selection {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e2e4e3;
  width: 100%;
  text-align: center;
  -moz-box-shadow: 0px -3px 3px #eee;
  -webkit-box-shadow: 0px -3px 3px #eee;
  box-shadow: 0px -3px 3px #eee;
}
/* line 74, ../scss/partials/_multiuser.scss */
#user-selection .user {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  width: 120px;
}
/* line 81, ../scss/partials/_multiuser.scss */
#user-selection .user:hover {
  -webkit-transform: translate(0, -5px);
  transition: all 0.1s ease-in-out;
}
/* line 86, ../scss/partials/_multiuser.scss */
#user-selection .user.selected {
  -webkit-transform: translate(0, -5px);
  transition: all 0.25s ease-in-out;
}
/* line 91, ../scss/partials/_multiuser.scss */
#user-selection .user .image {
  margin-top: 8px;
}
/* line 95, ../scss/partials/_multiuser.scss */
#user-selection .user img {
  border-radius: 50%;
  background-color: #97be8c;
  border: solid #97be8c 8px;
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
}

/* line 107, ../scss/partials/_multiuser.scss */
.hline {
  position: absolute;
  width: 100%;
}

/* line 113, ../scss/partials/_multiuser.scss */
.hline:before,
.hline:after {
  border-top: 1px solid #e2e4e3;
  display: inline-block;
  height: 1px;
  content: "";
  width: 40%;
  top: 100%;
  position: absolute;
  left: 0;
}

/* line 124, ../scss/partials/_multiuser.scss */
.hline:after {
  right: 0;
  left: auto;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 131, ../scss/partials/_multiuser.scss */
  #user-info {
    font-size: 0.8rem;
  }
}
