[hgraph-app],
[hgraph-app] body{
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}
[hgraph-graph] {
    margin: 0px auto;
    position: relative;
}
[hgraph-layer] {
    position: absolute;
    left: 0px; top: 0px;
}
