/* Global.css 
 * A css toolkit by Danny Hadley (danny@dadleyy.com)
*/
*{
	margin: 0px;
	padding: 0px;
	outline: none;
	border: none;
}
body{
	background-color: #fff;
}
.f{ float: left; }
.r{ float: right; }
.middle{ margin: auto; }
.t{
	-webkit-transition: all 300ms ease;
	-moz-transition: 	all 300ms ease;
	-ms-transition: 	all 300ms ease;
	-o-transition: 		all 300ms ease;
	transition: 		all 300ms ease;
}
.lt{
	-webkit-transition: all 800ms ease;
	-moz-transition: 	all 800ms ease;
	-ms-transition: 	all 800ms ease;
	-o-transition: 		all 800ms ease;
	transition: 		all 800ms ease;
}
.ltd{
    -webkit-transition: all 800ms ease 800ms;
	-moz-transition: 	all 800ms ease 800ms;
	-ms-transition: 	all 800ms ease 800ms;
	-o-transition: 		all 800ms ease 800ms;
	transition: 		all 800ms ease 800ms;
}
.bt{
    -webkit-transition: all 800ms cubic-bezier(0.340, 0, 0.430, 1); /* older webkit */
    -webkit-transition: all 800ms cubic-bezier(0.340, -0.435, 0.430, 1.295); 
    -moz-transition: all 800ms cubic-bezier(0.340, -0.435, 0.430, 1.295); 
    -ms-transition: all 800ms cubic-bezier(0.340, -0.435, 0.430, 1.295); 
    -o-transition: all 800ms cubic-bezier(0.340, -0.435, 0.430, 1.295); 
    transition: all 800ms cubic-bezier(0.340, -0.435, 0.430, 1.295); /* custom */
    
    -webkit-transition-timing-function: cubic-bezier(0.340, 0, 0.430, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.340, -0.435, 0.430, 1.295); 
    -moz-transition-timing-function: cubic-bezier(0.340, -0.435, 0.430, 1.295); 
    -ms-transition-timing-function: cubic-bezier(0.340, -0.435, 0.430, 1.295); 
    -o-transition-timing-function: cubic-bezier(0.340, -0.435, 0.430, 1.295); 
    transition-timing-function: cubic-bezier(0.340, -0.435, 0.430, 1.295); /* custom */
}
.qt{
    -webkit-transition: all 500ms cubic-bezier(0.000, 1, 0.915, 0.985); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.000, 1.010, 0.915, 0.985); 
    -moz-transition: all 500ms cubic-bezier(0.000, 1.010, 0.915, 0.985); 
    -ms-transition: all 500ms cubic-bezier(0.000, 1.010, 0.915, 0.985); 
    -o-transition: all 500ms cubic-bezier(0.000, 1.010, 0.915, 0.985); 
    transition: all 500ms cubic-bezier(0.000, 1.010, 0.915, 0.985); /* custom */
    
    -webkit-transition-timing-function: cubic-bezier(0.000, 1, 0.915, 0.985); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.000, 1.010, 0.915, 0.985); 
    -moz-transition-timing-function: cubic-bezier(0.000, 1.010, 0.915, 0.985); 
    -ms-transition-timing-function: cubic-bezier(0.000, 1.010, 0.915, 0.985); 
    -o-transition-timing-function: cubic-bezier(0.000, 1.010, 0.915, 0.985); 
    transition-timing-function: cubic-bezier(0.000, 1.010, 0.915, 0.985); /* custom */
}
.qbt{
    -webkit-transition: all 350ms cubic-bezier(0.305, 0.695, 0.375, 1); /* older webkit */
    -webkit-transition: all 350ms cubic-bezier(0.305, 0.695, 0.375, 1.650); 
    -moz-transition: all 350ms cubic-bezier(0.305, 0.695, 0.375, 1.650); 
    -ms-transition: all 350ms cubic-bezier(0.305, 0.695, 0.375, 1.650); 
    -o-transition: all 350ms cubic-bezier(0.305, 0.695, 0.375, 1.650); 
    transition: all 350ms cubic-bezier(0.305, 0.695, 0.375, 1.650); /* custom */
    
    -webkit-transition-timing-function: cubic-bezier(0.305, 0.695, 0.375, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.305, 0.695, 0.375, 1.650); 
    -moz-transition-timing-function: cubic-bezier(0.305, 0.695, 0.375, 1.650); 
    -ms-transition-timing-function: cubic-bezier(0.305, 0.695, 0.375, 1.650); 
    -o-transition-timing-function: cubic-bezier(0.305, 0.695, 0.375, 1.650); 
    transition-timing-function: cubic-bezier(0.305, 0.695, 0.375, 1.650); /* custom */
}

.half{ width: 50%; }
.whole{ width: 100%; }
.pw{ width: 900px; }
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}