body{ background: #F5F6F6; font-family: 'Droid Serif', serif; color: #9d9f9f; }

section.content{ padding-top: 5px; }
div.no-vis{ 
    width: 0px; 
    height: 0px;
    overflow: hidden; 
    position: fixed; 
    left: -100%;
    top: -100%;
}
div.hasemail:hover {
  color: blue;
  background-color: white ;
}
/* SVG styles */
.healthgraph.detailed text.overall {
  font-size: 2rem;
}
svg.healthscore text.overall {
  fill: #616363;
  font-weight: bold;
}
.user-table  tr:hover{
	background-color: lightgrey;
	cursor: pointer;
}

nav.main-nav{ margin-top: 0px; }
nav.main-nav ul{ 
    list-style: none;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    position: relative;
}
nav.main-nav ul:after{
    content: '';
    display: block;
    height: 0.5px;
    width: 100%;
    background: red;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 25%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.15) 75%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0.15)), color-stop(50%,rgba(0,0,0,0.25)), color-stop(75%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 25%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 25%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 25%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 25%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );

}
nav.main-nav ul li{ 
    padding: 5px;
    height: 30px;
    font-size: 14px;
}
nav.main-nav ul li a{ 
    text-decoration: none;
    border-radius: 5px;
    line-height: 20px;
    height: 20px;
    display: block;
    color: #3B3B3D;
    padding: 3px 10px 3px 10px;
}
nav.main-nav ul li a:hover,
nav.main-nav ul li a.active{ background: rgba(0,0,0,0.075); }
section.config{ 
    width: 248px; 
    min-height: 300px; 
    /*background-color: #ececed;
    border-radius: 6px;*/
    padding: 25px 0px 25px 0px;
    border: solid 1px;
    border-top: none;
}
section.config img.logo{ 
    display: block; 
    margin: 0px auto; 
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

section.config article.preview{
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 130px;
    text-align: center;
}

section.config article.demographics{ text-align: center; }
section.config article.demographics h4{ font-size: 12px; color: #939695; font-weight: normal; }

section.config article.demographics div.block{
    margin-top: 20px;
}
section.config article.demographics div.block.gender{
    width: 90%;
    border: 1px solid;
    border-radius: 6px;
}

section.config article.demographics div.block dl.g-title{ color: #3c3f3d; background-color: lightgrey;}
section.config article.demographics div.block dl.g-title dt{font-size: 1.8em;}
section.config article.demographics div.block dl.g-data{ color: #3c3f3d; background-color: white;}
section.config article.demographics div.block dl.g-data dt{font-size: 1.3em; font-weight: bold;}
section.config article.demographics div.block dl dt,
section.config article.demographics div.block dl dd{ display: block; font-size: 16px; line-height: 1.5em; }

section.config article.demographics div.block span{
	font-size: 1.2em;
}

section.config article.demographics div.block dl dt,
section.config article.demographics div.block dl dd{ }

section.config article.demographics div.block dl dd button.g-toggle{        
    display: block;
    width: 120px;
    font-size: 1.2em;
    height: 30px;
    background: rgba(0,0,0,0.0);
    border-radius: 6px;
    cursor: pointer;
    
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.0),
                0px 0px 1px 1px rgba(255, 255, 255, 0.0);
}

section.config article.demographics div.block dl dd button.g-toggle svg{        
	width: 20px;
	height: 20px;
}

section.config article.demographics div.block dl dd button.g-toggle:first-child{ margin-right: 10px; }
section.config article.demographics div.block.gender dl dd{ 
    width: 130px;
    margin-top: 0px;
}

section.config article.demographics div.block dl dd button.g-toggle.active,
section.config article.demographics div.block dl dd button.g-toggle:hover{
    background: rgba(0,0,0,0.1);
    
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2),
                0px 0px 1px 1px rgba(255, 255, 255, 0.5);
}

section.config article.demographics div.block dl dd button.g-toggle span{
    display: block;
    width: 60px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

section.config article.demographics div.block dl dd button.g-toggle.active span,
section.config article.demographics div.block dl dd button.g-toggle span:hover{ opacity: 0.8; }

section.config article.demographics div.block dl dd button.g-toggle.male span{
    background-size: 24px 65px;
    background-image: url(../img/male1.png);
}
section.config article.demographics div.block dl dd button.g-toggle.female span{
    background-image: url(../img/woman1.png);
}

section.config article.demographics div.block input.height-input{
    width: 20px;
    height: 20px;
    padding: 5px;
    background: white;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.5), 
                inset 1px 1px 1px rgba(0,0,0,0.1);
                
    display: block;
    position: relative;
    
    margin: 5px 5px 0px 5px;
    text-align: center;
    line-height: 4px;
    font-family: 'Droid Serif', serif;
    color: #333;
    font-size: 18px;
}

section.config article.demographics div.block input.email-input{
    width: 140px;
    height: 20px;
    padding: 5px;
    background: white;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.5), 
                inset 1px 1px 1px rgba(0,0,0,0.1);
                
    display: block;
    position: relative;
    
    margin: 5px 5px 0px 15px;
    text-align: center;
    line-height: 4px;
    font-family: 'Droid Serif', serif;
    color: #333;
    font-size: 18px;
}

section.config article.demographics div.block.height dl dd{ width: 84px; position: relative; }
section.config article.demographics div.block.height dl dd span{
    position: absolute;
    display: block;
    color: #333;
    font-size: 16px;
    top: 3px;
}
section.config article.demographics div.block.height dl dd span:first-child{ left: 47%; }
section.config article.demographics div.block.height dl dd span:last-child{ left: 98%; }

section.config article.demographics div.block.submit{
   	position: fixed;
	bottom: 0px;
	background: #D4D4D5;
	width: 250px;
	height: 70px;
}
section.config article.demographics div.block.submit p{
    font-size: 12px;
    color: #9d9f9f;
    width: 100px;
}

#sub {
    font-size: 12px;
    color: #9d9f9f;
    width: 100px;
}

section.config article.demographics div.block.height input[type="button"]{
    background: #6d89b4;

    color: white;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.9);
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    line-height: 30px;


    height: 30px;
    border-radius: 4px;
    width: 140px;
    margin-top: 5px;
    cursor: pointer;
    display: block;
    padding: 0px;
    text-transform: capitalize;
}

section.config article.demographics div.block.submit input[type="button"]{
    background: #97be8c;
    
    color: white;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.9);
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    font-size: 20px;              
    line-height: 30px;
    
    width: 95%;
	height: 80%;
    
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
    display: block;
    padding: 0px;
    text-transform: capitalize;
}

section.config article.demographics div.block.submit a{
    color: #494a49;
    text-decoration: none;
    font-family: 'Droid Serif', serif;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
    display: block;
}

section.config article.demographics div.block.submission a{
    color: #494a49;
    text-decoration: none;
    font-family: 'Droid Serif', serif;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
    cursor: pointer;
    display: block;
}

section.metrics{ 
    width: 648px;
    overflow: hidden;
}

article.metric{
    width: 1030px;
    height: 175px;
    margin: 0px auto 30px;
    position: relative;
}

article.metric div.daily-input{
    width: 30px;
    height: 14px;
    display: block;
    position: absolute;
    margin: 0px;
    margin-left: -16px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    color: #333;
    font-size: 10px;
}

article.metric input.daily-input{
    width: 30px;
    height: 14px;
    background: white;
    border-radius: 3px;
    border: 2px solid #6c6d70;
    display: block;
    text-align: center;
    font-family: 'Droid Serif', serif;
    color: #333;
    font-size: 10px;
}


article.metric img.handle{
    width: 34px;
    height: 34px;
   /* margin-top: -10px; */
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}

.table .loading {
	  text-align: center;
}
.darkClass {
	position: relative;
	top: 30px;
}
.alertify-log-success {
	background: #609C4F;
}
.daily_input_span{
	width: 95%;
	height: 25px;
	border: solid 1px #9d9f9f;
	border-radius: 5px;
}
.daily_name{
	color: #3c3f3d;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}
.daily_title{
	color: #3c3f3d;
	float: left;
	margin-left: 20px;
}
.daily_label{
	position: relative;
	top: -26px;
	text-align: right;
	float: right;
	right: 30px;
}
.header{
	background: #EBECED;
}

.header .header-info {
	float: right;
	margin-top: 8px;
	margin-right: 8px;
	color: black;
}

.header .header-info > a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.header .header-info > a:hover {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.main{
	border-left: 1px solid;
}

@media only screen and (min-width: 1280px){
	.content {
		margin-left: 20px;
	}
	.preview {
		position: fixed;
		top: 10%;
		left: 955px;
	}
}

