/*
	File Overview:	Basic structural styles.
	Author:			Michael Bester
*/

html {
	min-height: 100%;
	margin-bottom: 1px;
  overflow: hidden;
}

body {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/*
* Window sizes
*/

/*
* Default config
*/
#main {
  width: 100%;
  height: 100%;
  min-width: 1024px;

  #viz{
    height: 100%;
    min-height: 690px;
    min-width: 1024px;
  }
}

/*
* Ipad Portait + Landscape
*/ 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
  #main {
    width: 980px;

    #viz{
      min-height: 660px;
      min-width: 1024px;
    }
  }
}
