.vis-container {
  height: 100vh;
  align-items: flex-start;
  transition: height 200ms ease-in-out;
}

.vis-container,
.controls {
  display: flex;
  justify-content: center;
}

.control {
  margin-right: 10px;
  background-color: none;
  border: none;
  cursor: pointer;
}

.control__label {
  font-size: 16px;
}

.card {
  position: absolute;
  top: 100%;
  left: 50%;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 50vh;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  transition: top 200ms ease-in-out;
}

.hgraph__axis-label,
.polygon__hitbox {
  cursor: pointer;
}

.hgraph-history__date {
  fill: #616363;
}

@media (min-width: 1000px) {
  .card {
    width: 50%;
  }
}
